.code-runner-button {
    display: block;
    align-self: center;
    position: static;
    margin-top: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
    text-align: start;
}
